# AndroidStudio files
*.iml
*.ipr
*.iws
**/.idea/*
**/.gradle/*
**/captures/*
**/build/*
local.properties

# linux specific files
.directory
*.*~

# mac specific files
.DS_Store

# windows specific files
Thumbs.db
thumbs.db